*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bk-nav-title{
    color: green;
}
.bknav-container{
    width: 150px;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 100;
}
.bkNav-nav-items-container{
    width: 150px;
}
.close-nav{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
.close-nav img{
    width: 30px;
    margin-top: 15px;
    transition: .5s ease-in-out;
   
}
.close-nav img:hover{
    transform: rotate(-180deg);
    transition: .5s ease-in-out;    
}
.avatar{
    width: 150px;
    margin-top: 3rem;
    margin-bottom: 5rem;
    transform: rotateY(180deg);
    transition: 2s ease-in-out;

}
.avatar:hover{
    width: 150px;
    margin-top: 3rem;
    margin-bottom: 5rem;
    transform: rotateY(180deg) translate(-10px, -10px);   
    transition: 1s ease-in-out;
}
.bkNav-user-avatar{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    margin: 40px 0 30px 0;
    border: 2px solid #7ACF25;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
.bkNav-user-avatar img{
    width: 40px;
    height: 40px;
    
}
.bkNav-nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 20px 0;   
    color: black; 
}
.bkNav-nav-link:hover{
    color: #7ACF25;
    transition: .5s ease-in-out;
    text-decoration: none;

}
.bkNav-nav-link img{
    width: 50px;   
}
