*:focus {
    outline: none;
}
/* navigation */
.navbar{
    background-color: black!important;
}
.nav{
    height: 7vh;    
}
.nav-link:hover, .nav-link .active{
    color:  rgb(122, 207, 37)!important;
}
#dropdown-basic {
    background-color: transparent!important;
    border: none!important;
    color:rgba(255,255,255,.5);
}
#dropdown-basic:hover{    
    color:rgb(122, 207, 37);
}
#dropdown-basic:focus{
    outline: none!important;
}

.authButton{
    border: 1px solid  rgb(122, 207, 37);
    width: 90px;
    height: 40px;
    background-color:transparent;
    color:  rgb(122, 207, 37);
    border-radius: 5px; 
    margin-right: 5px;
}
.authButton:hover{
    border: none;
    background-color:  rgb(122, 207, 37);
    color: white; 
}
.authTitle{
    color:rgb(122, 207, 37);
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}

.logo{
    width: 50px;
    height: auto;
}
/* register + login page */
.register-page{
    background-image: url("../../assets/image/background-register.png");
    margin: 0!important;    
}
.login-page{
    background-image: url("../../assets/image/background-login.png");
    margin: 0!important;    
}
.form-register-container, .form-login-container{
    width: 100%;
    height: 91.7vh;
    margin: 0;    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.register-form, .login-form{
    width: 25%;
    height: auto;    
    padding: 20px; 
    background-color: #343a40 !important;  
    border-radius: 10px; 
}

/* home page */
.home{
    background-image: url('../image/dark-mood-food-2986532_1920.jpg');
    background-size: cover;
    width: 100%;
    min-height: 93vh;
    /* position: fixed; */
}
.home-main-title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.home-main-title h1{
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    color:  rgb(122, 207, 37);
}
.home-main-title h2{
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    color:  rgb(122, 207, 37);
}

.intro{
    background-color: black; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color:  rgb(122, 207, 37);
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100vh); 

}
.hide{
    position: relative; 
    left: -12%;
    transform: translateX(50%);
    font-weight: 300;
    margin: 20px 0;
    font-family: 'Poiret One', cursive;
}
.dot{
    font-size: 65px;
}
.slider{
    background-color: rgb(192, 185, 185); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;  
    transform: translateY(-100vh); 
}

/* page All */
.allRecipe-container{
    min-height: 90vh;
    background-color: black;
}
.card-container{
    width: auto;
}
.card{
    margin: 10px;
}
.card-recette-img{
    object-fit: cover;
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.card-recette-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin :15px 0;
}
.card-recette-body h3{
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
}
.card-recette-body h4{
    font-family: 'Poiret One', cursive;
}
.btn-all{
    width: 120px;
    height: 45px;
    font-size: 1rem;
    font-weight: 400;
    padding-right: 5px;
    margin: 0 5px;
}
.btn-all-prev{
    border: 1px solid  rgb(122, 207, 37);
    color:  rgb(122, 207, 37);
    background-color: white;
}
.btn-all-prev:hover{
    border: 1px solid white;
    color: white;
    background-color:  rgb(122, 207, 37);
}
.btn-all-voir{
    border: 1px solid white;
    color: white;
    background-color:  rgb(122, 207, 37); 
}
.btn-all-voir:hover{
    border: 1px solid  rgb(122, 207, 37);
    color:  rgb(122, 207, 37);
    background-color: white;
}

/* Page Food Porn */
.food-porn-page{
    background-color: black;
    min-height: 100vh;
        
}
.food-porn{
    min-height: 150vh;
}
.food-porn .row{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;     
    padding: 0;
    width: 300px;
    height: 200px;
}

.img-container img{
    width: 280px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
}
.content-photos{    
    width: 280px;
    height: 200px;  
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(19, 18, 18, 0.582);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    word-break: break-all;
}
.content-photos:hover{    
    opacity: 1;
    transform: translateX(25px);
    border: 10px solid white;    
}
.content-photos h3, .content-photos p{
    color: white;
}
.content-photos h3{
    font-family: 'Satisfy', cursive;
    text-transform: uppercase; 
    font-size: 1.5rem;   
}
.content-photos a{
    width: 50%;
    height: 40px;
    font-size: .95rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid  rgb(122, 207, 37);
    color:  rgb(122, 207, 37);
    
}

